.nav {
    grid-area: n;
    background: burlywood;

    .nav-items {
        padding: 10px;

        .nav-item {
            margin-bottom: 5px;

            .nav-item-link {
                font-family: SansSerif;
                font-size: 1.1em;
                color: #000;
                text-decoration: none;
                text-transform: uppercase;

                &:focus {
                    color: gold;
                }
            }

        }

    }

}